body {
  background-color: gray;
}

h1 {
  color: white;
  text-align: center;
}

p {
  color:black
  font-family: verdana;
  font-size: 20px;
  font stsyle:italic;
  font weight:bold;
  text decoration: wavyunderline;
}

<a> element {
  
    
